.DS_Store
.env
.env.local
nvim/plugin/packer_compiled.lua
config/nvim/plugin/packer_compiled.lua
tags*
*.local.zsh
.aider*
!.aider.conf.yml
!home/.aider.conf.yml
nvim/dictionaries
config/nvim/dictionaries
tmp/
/.claude
